@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font : 'Futura TS';
  --colGray :  rgba(0, 0, 0, 0.542);
  --mainBold : rgba(26, 32, 44);
  --recomm :  rgba(26, 32, 44, 0.308);

 /*Colors*/
  --primaryBase : rgb(255, 249, 244);
  --primaryMain : rgb(245, 218, 194);
  --secondaryBase : rgb(182, 140, 99);
  --secondaryMain : rgb(72, 35, 15);
  --base : rgb(48, 46, 43);
  --imgGd : rgba(245, 218, 194, 0.4);

  /*Font*/

  --head : 4rem;
  --subhead : 2.5rem;
  --content : 1rem;
  --button : 1.5rem;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryBase);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
  display: none;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
